.title{
	font-weight: bold;
	font-size: 100px;
	text-align: center;
}
.description{
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}
.imgdiv{

}
.proimage{
  height: auto;
  width: 21em;
  margin: 10px;
  position: middle;
  vertical-align: middle;
}
#qty{
  font-size: 20pt;
}
#cart{
  margin-left: 50px;

}
